*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Dancing Script', cursive;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-family: 'Titan One', cursive;
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
    overflow-x: hidden;
}
/* --------------header---------------- */
header nav{
    display: flex;
    justify-content: space-between;
    padding: 0 8rem 0 2rem;
}

header nav .right h1{
    /* border: 2px solid blue; */
    font-family: 'Titan One', cursive;
    letter-spacing: 2px;
    background: linear-gradient(60deg, #3d3393 0%, #2b76b9 37%, #2cacd1 65%, #35eb93 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    width: 120px;
}
header nav .left{
    /* border: 2px solid green; */
    width: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Titan One', cursive;
    font-size: 22px;
}
header nav .left a{
   text-decoration: none;
   color: white;
   cursor: pointer;
}
 
header .nav-round1{
    width: 600px;
    height: 400px;
    border-radius: 50%;
    position: absolute;
    background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%);
    right: -40px;
    top: -200px;
    z-index: -3;
}
header nav .nav-round2{
    width: 600px;
    height: 400px;
    border-radius: 50%;
    position: absolute;
    background-color: transparent;
    border: 2px solid black;
    right: -10px;
    top: -200px;
    z-index: -1;
}

/* --------------Home-------------- */

.home{
    height: 100vh;
}

/* birthday text */
#demo{
    display: flex;
    justify-content:  center;
    align-items:  center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width:100%;
    z-index: -1;
}
.home #demo span{
    font-size:8vw;
    font-weight:200;
} 
.color1{color:tomato}
.color2{color: #aa0555}
.color3{color: deeppink}
.color4{color: #0099aa }
.color5{color: #00aa88}

/* gift box */
.birthday-gift {
    position: relative;
    top: 30rem;
    left: 35rem;
  }
  
.birthday-gift:before {
    content:"";
    position: absolute;
    width: 170px;
    height:20px;
    border-radius:50%;
    background-color: rgba(0,0,0,0.4);
    top:90px;
    left:-10px;
}

input#click {
    display: none;
}

.gift {
    position: relative;
    width: 150px;
    height: 100px;
    background-color: #e9c46a;
}

.gift:before {
    content:"";
    position: absolute;
    width: 25px;
    height: 100px;
    background-color: #e76f51;
    left:62px;
}

.gift:after {
    content:"";
    position: absolute;
    box-shadow: inset 0 10px rgba(0,0,0,0.3);
    width: 150px;
    height: 100px;
}

.click {
    position: absolute;
    background-color: #e9c46a;
    width: 170px;
    height: 40px;
    top:-40px;
    left:-10px;
    transform-origin: bottom left;
    transition: .3s;
    cursor: pointer;
}

.click:before {
    content:"";
    position: absolute;
    width: 25px;
    height: 40px;
    background-color: #e76f51;
    left:69px;
}

.click:after {
    content:"";
    position: absolute;
    width: 5px;
    height: 0;
    border-bottom: 30px solid #e76f51;
    border-top: 30px solid #e76f51;
    border-left: 0px solid transparent;
    border-right: 30px solid transparent;
    transform: rotate(-90deg);
    left:65px;
    top:-47px;
}

#click:checked + .click {
    transform: rotate(-110deg) scaleX(0.85);
}

.wishes {
    position: absolute;
    transition: .5s;
    color: #333;
    font-size: 30px;
    text-align: center;
    z-index:-1;
    left:5px;
}

#click:checked ~ .wishes {
    transform: translateY(-100px);
}

#click:checked ~ .sparkles {
    display: block;
}

.sparkles {
    position: absolute;
    display: none;
    top:-15px;
    z-index:-2;
    left:40px;
}

.spark1, .spark2, .spark3, .spark4, .spark5, .spark6 {
    position: absolute;
    background-color: #fee440;
    border-radius:50%;
    top:-9px;
    z-index:-1;
}

.spark1 {
    width: 8px;
    height:8px;
    left:30px;
    top:-9px;
    animation: fire 0.9s ease-in-out infinite, color 0.4s linear infinite;
}

.spark1:before {
    content:"";
    position: absolute;
    width:5px;
    height:5px;
    top:8px;
    left:11px;
    background-color: #fee440;
    border-radius:50%;
}

.spark2 {
    width: 9px;
    height:9px;
    left:33px;
    top:-5px;
    animation: fire2 0.28s ease-in-out infinite, color 0.4s linear infinite;
}

.spark2:before {
    content:"";
    position: absolute;
    width:5px;
    height:5px;
    top:12px;
    left:3px;
    background-color: #fee440;
    border-radius:50%;
}

.spark3 {
    width: 8.5px;
    height:8.5px;
    left:33px;
    top:-5px;
    animation: fire3 0.36s ease-in-out infinite, color2 0.4s linear infinite;
}

.spark3:before {
    content:"";
    position: absolute;
    width:5px;
    height:5px;
    top:12px;
    left:-1px;
    background-color: #fee440;
    border-radius:50%;
}
.spark4 {
    width: 7px;
    height:7px;
    left:27px;
    top:-5px;
    animation: fire2 0.24s ease-in-out infinite, color2 0.2s linear infinite;
}

.spark5 {
    width: 7px;
    height:7px;
    left:29px;
    top:-5px;
    animation: fire3 0.45s ease-in-out infinite, color 0.2s linear infinite;
}

.spark6 {
    width: 6px;
    height:6px;
    left:29px;
    top:-5px;
    animation: fire 0.35s ease-in-out infinite, color2 0.2s linear infinite;
}

@keyframes fire3 {
    100% { transform:translateX(20px) translateY(-93px); 
        opacity: 0.3; }
}

@keyframes fire2 {
    100% { transform:translateX(-5px) translateY(-90px); 
        opacity: 0.3; }
}

@keyframes fire {
    100% { transform:translateX(-25px) translateY(-95px); 
        opacity: 0.3; }
}

@keyframes color {
    from {background-color: #d00000;}
    to {background-color: #0081a7;}
}

@keyframes color2 {
    from {background-color: #8cff00;}
    to {background-color: #1d2d44;}
}

/* ----------about----------  */
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    padding: 7rem 0;
    background-image: linear-gradient(to right, #868f96 0%, #596164 100%);
    position: relative;
    z-index: -1;
}
.about .container{
    display: flex;
    position: relative;
    margin-top: 5rem;
}

.about .container .bg{
    width: 450px;
    height: 450px;
    position: absolute;
    bottom: 40px;
    left: 80px;
    z-index: -1;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    border-radius: 20px;
    box-shadow: 2px 2px 10px 12px #333;
}
.about .container img{
    border-radius: 20px;
    animation-name: mayank1;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-direction: alternate;
}
@keyframes mayank1{
    0%{
        border-radius: 50%;
    }
    100%{
        border-radius: 20px;
    }
}
.about .aboutYou{
    width: 45vh;
    height: 30vh;
    border-radius: 10px;
    background-image: linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%);
    position: absolute;
    bottom: 50px;
    right: 380px;
    padding: 2rem;
    animation-name: behappy;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-direction: alternate;
}
@keyframes behappy{
    0%{
        bottom: -180px;
    }
    100%{
        bottom: 50px;
    }
}
.about .aboutYou p{
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.about .side{
    position: absolute;
    left: 15rem;
    letter-spacing: 15px;
    opacity: 0.5;
    font-size: 48px;
    transform: rotate(270deg);
    animation-name: happy25;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
    animation-iteration-count: 5;
    animation-direction: alternate;
}
@keyframes happy25{
    from{
        opacity: 0;
    }
    to{
        opacity: 0.5;
    }
}

/* ------------card section --------------------  */

 .card{
    display: flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    background-color: #529171;
}
.birthdayCard {
  position: relative;
  width: 250px;
  height:350px;
  cursor: pointer;
  transform-style: preserve-3d;
    transform: perspective(2500px);
  transition: 4s;
}

.birthdayCard:hover {
    transform: perspective(2500px) rotate(5deg);
    box-shadow: inset 100px 20px 100px rgba(0,0,0,.15), 0 10px 100px rgba(0,0,0,0.3);
}

.birthdayCard:hover .cardFront {
  transform: rotateY(-160deg); 
}

.birthdayCard:hover .front-text {
  display: none;
}

.birthdayCard:hover .wrap-deco {
  display: none;
}

.birthdayCard:hover .wrap-decoTwo {
  display: none;
}

.birthdayCard:hover .plate {
  display: none;
}
.cardFront {
  position: relative;
  background-color: #fff;
  width: 250px;
  height:350px;
  overflow: hidden;
  transform-origin: left;
  box-shadow: inset 100px 20px 100px rgba(0,0,0,.13), 30px 0 50px rgba(0,0,0,0.1);
  transition: .4s;
}

.happy, .toyou {
  position: relative;
  font-family: didot;
  text-align: center;
  backface-visibility: hidden;
  font-size: 30px; 
}

.happy {
  top:198px;
}

.toyou {
  top:123px;
}

.bday {
  position: relative;
  font-family: arial;
  font-size: 35px;
  text-align: center;
  top:163px;
}

.wrap-deco {
  position: absolute;
  top:-230px;
  left:-200px;
}

.decorations {
  position: absolute;
  width: 400px;
  height: 300px;
  border: 3px solid #333;
  border-radius: 50%;
}

.decorations:before, .decorations:after, .decorationsTwo:before, .decorationsTwo:after, .decorationsThree:before, .decorationsThree:after {
  content:"";
  position: absolute;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  width:0;
  height:0;
}

.decorations:before {
  border-top: 40px solid #f15bb5;
  top:297px;
  left:210px;
  transform: rotate(-5deg);
}

.decorations:after{
  border-top: 40px solid #f4d35e;
  top:288px;
  left:260px;
  transform: rotate(-17deg);
}

.decorationsTwo:before {
  border-top: 40px solid #00f5d4;
  top:268px;
  left:315px;
  transform: rotate(-30deg);
}

.decorationsTwo:after, .decorationsThree:after {
  border-top: 40px solid #9b5de5;
  top:238px;
  left:355px;
  transform: rotate(-40deg);
}

.wrap-decoTwo {
  transform: scaleX(-1);
  position: absolute;
  top:-230px;
  left:445px; 
}

.decorationsThree:before {
  border-top: 40px solid #00bbf9;
  top:268px;
  left:315px;
  transform: rotate(-30deg);
}

.plate {
  position: absolute;
  width: 130px;
  height: 5px;
  background-color: #00bbf9;
  left:60px;
  top:213px;
}

.cake {
  position: absolute;
  overflow: hidden;
  width:100px;
  height: 50px;
  background-color: #f15bb5;
  border-radius: 10px 10px 0 0;
  top:-50px;
  left:15px;
  box-shadow: inset 0 -15px #f9c74f, inset 0 15px #432818;
}

.cake:before {
  content:"";
  position: absolute;
  background-color: #432818;
  width:10px;
  height:20px;
  top:5px;
  border-radius:20px;
  box-shadow: 10px 5px #f15bb5, 20px 0px #432818, 30px 2px #f15bb5, 40px 5px #432818, 50px 5px #f15bb5, 60px 0px #432818, 70px 5px #f15bb5, 80px 5px #432818, 90px 5px #f15bb5;
}

.plate:before {
  content:"";
  position: absolute;
  background: repeating-linear-gradient(-45deg, #9b5de5, #9b5de5 3px, #00f5d4 3px, #00f5d4 6px);
  width:7px;
  height: 25px;
  top:-75px;
  left:61px;
}

.plate:after {
  content:"";
  position: absolute;
  width:1px;
  height: 5px;
  background-color: #333;
  top:-80px;
  left:64px;
}


.flame {
  position: absolute;
  background-color: #fb5607;
  border-radius: 80% 0 55% 50% / 55% 0 80% 50%;
  transform: rotate(-45deg);
  width:15px;
  height:15px;
  opacity:0.7;
  top:-93px;
  left:57px;
}
.cardInside {
  position: absolute;
  background-color: #fff;
  width: 250px;
  height:350px;
  z-index:-1;
  left:0;
  top:0;
  box-shadow: inset 100px 20px 100px rgba(0,0,0,0.2);
}

.inside-text {
  position: relative;
  top: -100px;
  transform: scale(0.7);
}
.wishes p{
  font-size: 16px;
  margin-top: 2rem;
}
p {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  color: #333;
}

.name {
  margin-left:150px;
} 

/*---------------- hate section ------------*/

.hate{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Raleway", Arial, sans-serif;
  background: #7f9ead;
}
.hate > h1{
  font-size: 32px;
  margin-top: 2rem;
}
.hate-card-container{
  /* border: 2px solid red; */
  display: flex;
  flex-direction: row;
  padding: 6rem 0;
  margin: 3rem 0;
}

.hate-card {
  position: relative;
  width: 300px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
  transition: 0.3s;
  padding: 30px 50px;
  background: #fff;
  cursor: pointer;
  margin-right: 30px;
}

.hate-card:hover {
  height: 320px;
}

.imgbox {
  position: relative;
  transform: translateY(-80px);
  z-index: 99;
}

img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
}

.hate-content {
  padding: 10px 20px;
  /* text-align: center; */
  transform: translateY(-950px);
  opacity: 0;
  transition: 0.3s;
  position: absolute;
  top: 350px;
}

.hate-card:hover > .hate-content {
  opacity: 1;
  transform: translateY(-180px);
}

.hate-content h2 {
  color: #7f9ead;
}

/*---------------- Why You Section ------------*/

.why-u{
  width: 100%;
  height: 100vh;
  padding: 6rem;
  position: relative;
  background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
}
.why-u h1{
  text-align: center;
  position: relative;
  margin: 2rem;
}
.focus{
  width: 800px;
  height: 200px;
  position: absolute;
  right: 15rem;
  background-color: white;
  border-radius: 20px ;
  box-shadow: 0px 0px 35px 16px rgba(255,255,255,1);
  display: grid;
  place-items: center;
  padding: 0 3rem;
}

#last{
  position: absolute;
  bottom: 0;
  left: 30rem;
  opacity: 0.8;
  animation-name: last-line;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes last-line{
  from{
      opacity: 0;
  }
  to{
      opacity: 1;
  }
}

